<div class="courses-item" [appCorsesBorder]="coursesItem.creationDate">
  <img src="../assets/udsu_label.png"/>
  <div>
    {{coursesItem.title}}
  </div>
  <div>
    {{coursesItem.teacher}}
  </div>
  <div>
    {{coursesItem.time}}
  </div>
  <div>
    {{coursesItem.class}}
  </div>
  <div class="group-block">
    <button style="margin-bottom: 30px;" class="main-button video-button" (click)="editCourseClick(coursesItem.id)">
      Изменить</button>
    <button style="margin-bottom: 30px; margin-left: 30px" class="cancel-button video-button"
      (click)="onCourseClick(coursesItem.id)">Удалить</button>
  </div>
  <!-- <section class="video-info">
    <div class="main-video-info">
      <h4 class="video-title">{{coursesItem.title|uppercase}}</h4>
      <img [ngClass]="{'favorite-video-filled': coursesItem.topRated, 'favorite-video': true}" src="../assets/star.png">
      <div class="video-timedate">
        <span class="video-duration">{{coursesItem.teacher}}</span>
        <span class="video-date">{{coursesItem.time}}</span>
      </div>
    </div>
    <div class="video-description">
      {{coursesItem.class}}
    </div>
  </section>
  <div class="video-buttons">
    <button (click)="editCourseClick(coursesItem.id)" class="video-button main-button">Edit</button>
    <button (click)="onCourseClick(coursesItem.id)" class="video-button main-button">Delete</button>
  </div> -->
</div>