.container-popup {
    display: flex;
    position: fixed;
    padding: 0; 
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(66, 65, 67, 0.5);
}

.container-popup--visible {
    display: flex;
}

.popup {
    display: flex;
    background-color: white;
    width: 400px;
    height: 400px;
}

.popup-content {
    margin: auto;
}

.popup-buttons {
    display: flex;
    justify-content: center;
}

.day-input {
    margin: 10px;
    height: 30px;
    padding: 0 10px;
    outline: none;
    font-family: 'Roboto';
}

.day-label {
    position: relative;
    top: 15px;
    width: 105px;
    float: left;
    text-align: right;
}
.day-button {
    margin: 20px;
}