.video-course-block {
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.load-more-button {
    width: 90%;
    height: 30px;
    margin: 2% 5%;
}

.centered-text{
    text-align: center;
}

.no-video-information {
    display: flex;
    height: 200px;
    width: 20%;
    border: 1px solid rgba(163, 161, 161, 0.548);
    background: #f4f4f4;
    margin: 5%;
    margin-left: 40%;
    justify-content: center;
    align-items: center;
}

.schedule {
    width: 80%;
}

.schedule td {
    text-align: center;
    padding: 10px;
    width: 15%;
}

.edit-schedule {
    border: 1px solid rgb(168, 163, 163); 
    border-style: dashed;
    cursor: pointer;
}
