<!-- <form [formGroup]="scheduleForm"> -->
  <div class="video-course-block">
    <div *ngIf="!find()">
      <app-courses-item *ngFor="let item of courses" [coursesItem]="item" (editCourse)="onEditCourseClick($event)"
        (courseClick)="onRemoveCourseClick($event)">
      </app-courses-item>
    </div>
    <table *ngIf="find()" class="schedule">
      <thead>
        <tr>
          <th>Номер пары</th>
          <th>Понедельник</th>
          <th>Вторник</th>
          <th>Среда</th>
          <th>Четверг</th>
          <th>Пятница</th>
          <th>Суббота</th>
          <th (click)="onEditScheduleClick()" style="cursor: pointer">heck</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of courses">
          <td>
            <div>{{item.pair}}</div>
            <div>{{item.time}}</div>
          </td>
          <td *ngFor="let pair of item.info; let idx = index">
            <!-- <div contenteditable="true" (input)="onEditScheduleClick($event)"> -->
              <div>{{pair.title}}</div>
              <div>{{pair.type}} </div>
              <div>{{pair.teacher}} </div>
              <div>{{pair.class}}</div>
              <div (click)="onEditScheduleClick(item, pair, idx)">edit</div>
            <!-- </div> -->
            <!-- <div *ngIf="onEdit">
              <div><i><input formControlName= /></i></div>
              <div><input /></div>
              <div><input /></div>
              <div><input /></div>
            </div> -->
            <app-confirmation-modal [item]="editableItem" [pair]="editablePair" [index]="editablePairIndex"></app-confirmation-modal>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="no-video-information" *ngIf='isEmpty()'>
    <span class="centered-text">Пусто! Поскорее создайте новое событие.</span>
  </div>
<!-- </form> -->