<div class="authorization-container" [formGroup]="registrationForm">
  <div class="authorization-aside">
    <input class="authorization-input" title="Только буквы латинского алфавита и цифры" placeholder="Логин" formControlName="login">
  </div>
  <div class="authorization-aside">
    <input class="authorization-input" type="password" placeholder="Пароль" formControlName="password">
  </div>
  <div class="authorization-aside">
    <input class="authorization-input" placeholder="Имя" formControlName="firstName">
  </div>
  <div class="authorization-aside">
    <input class="authorization-input" placeholder="Фамилия" formControlName="lastName">
  </div>
  <div class="authorization-aside">
    <div class="course-label">
      Курс
    </div>
    <select class="authorization-input authorization-select" formControlName="courseNumber">
      <optgroup *ngFor="let degree of degrees" [label]="degree">
        <option *ngFor="let val of cursesCount[degree]" [ngValue]="[degree, val]">{{val}}</option>
      </optgroup>
    </select>
  </div>
  <div class="authorization-aside" style="padding-right: 58px">
    <div class="course-label">
      Направление
    </div>
    <select class="authorization-input authorization-select" formControlName="courseName">
      <option *ngFor="let val of coursesNames" [ngValue]="val">{{val}}</option>
    </select>
  </div>
  <div class="authorization-aside">
    <button [disabled]="isRegisterButtonDisabled" class="main-button authorization-enter-button" (click)="saveGroup()">Регистрация</button>
  </div>
  <div class="not-account is-account">
      <img class="not-account-description" src="//img.echosting.cafe24.com/skin/base/common/ico_arrow.png"/>
      <span>Уже есть аккаунт? Тогда не стесняйтесь и скорее заходите в свой календарь!</span>
      <button class="main-button main-button--join" routerLink="/login">Войти</button>
  </div>
</div>