.top-header {
    display: flex;
    justify-content: space-between; 
    height: 80px; 
}

.user-panel {
    display: flex;
    margin: auto 0 auto;
    align-items: center;
}

.log-out-button {
    height: 35px;
    width: 90px;
    margin: 0 10%;
    cursor: pointer;
}