<div class="courses-item">
  <section class="video-info">
    <div class="main-video-info">
      <h4 class="video-title">{{groupItem.name|uppercase}}</h4>
      <img src="../assets/udsu_label.png"/>
    </div>
  </section>
  <div class="video-buttons">
    <button (click)="openGroupClick(groupItem.id)" class="video-button main-button">Посмотреть</button>
    <button *ngIf="!groupItem.undeletable" (click)="deleteGroup(groupItem.id)" class="video-button cancel-button">Удалить</button>
  </div>
</div>