.courses-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 400px;
    border: 1px solid rgba(163, 161, 161, 0.548); 
    margin: 1%;
}

.video-info {

}

.main-video-info {
}

.video-title {
    text-align: center;
}

.video-timedate {
    width: 200px;
}

.video-date {
    padding: 0 0 0 5%;
}

.video-description {
    margin: 0 3%;
    height: 55%;
    text-align: left;  
    word-wrap: break-word;
    font-size: 10pt;
    overflow: auto;
}

.video-buttons {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    width: 15%;
}

.video-button {
    margin: 5% 5%;
    cursor: pointer;
}

.favorite-video {
    width: 2%;
    margin: 0 45% 0 0;
}

.favorite-video-filled {
    background-color: #fccbc7;
}